
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Savate:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}My Website{% endblock %}</title>
    {% if debug %}
    <script src="{% url 'django_browser_reload:reload' %}" async></script>
    {% endif %}
</head>
<body class="bg-gray-100 min-h-screen">
    {% block content %}
    {% endblock %}
</body>
</html> 